body {
	line-height: 1;
	background-color: black;
	background-image: url("../img/bg1.jpg");
}

h1,h2,h3,h4 {
	font-weight: 400;
	font-family: Roboto;
	width: 65%;
	color: black;
}

h1 {
	text-align: left;
	font-size: 3em;
	line-height: 1em;
	position: relative;
	left: 33%;
}

h2 {
	font-size: 1.1em;
	margin-top: 3em;
	position: relative;
	top: 1.4em;
	text-align: right;
	width: 20%;
}

h3 {
	font-size: 1em;
	line-height: 2em;
	position: relative;
	top: 1.7em;
	text-align: center;
	width: 30%;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: black;
}
